<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gallery Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
</head>
<body>

<h1>Gallery Section</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus adipisci deserunt dicta ea eum harum laborum magnam nemo nihil numquam pariatur quidem sit unde, voluptas voluptates. Laboriosam non quasi repudiandae.</span><span>Adipisci animi modi necessitatibus, obcaecati quaerat rem unde! Ab aspernatur atque consectetur culpa dicta eos ex harum hic in modi nihil quas, sed voluptatibus? A delectus hic quam quasi voluptate.</span></p>

<img src="{% static 'assets/images/alphaplace.jpeg' %}" alt="">
<img src="{% static 'assets/images/tes.png' %}" alt="">
<img src="{% static 'assets/images/tpab.webp' %}" alt="">
<img src="{% static 'assets/images/Nas- Magic 2.webp' %}" alt="">
<img src="{% static 'assets/images/Madvillainy.webp' %}" alt="">
<img src="{% static 'assets/images/pinkfloyd.webp' %}" alt="">
</body>
</html>