<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
     <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
<h1>ELIMU APP</h1>
<a href="{% url 'form' %}" class="btn btn-outline-primary">Form</a>
<a href="{% url 'gallery' %}" class="btn btn-success">Gallery</a>
<a href="{% url 'info' %}" class="btn btn-outline-info">Information</a>
<a href="{% url 'table' %}" class="btn btn-outline-secondary">Table</a>
<a href="{% url 'login' %}" class="btn btn-outline-warning">Login</a>
<a href="{% url 'registration' %}" class="btn btn-outline-danger">Register</a>


<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, officia, quod? Aut blanditiis cupiditate dolorum excepturi expedita fugiat harum illo illum iste iure laboriosam laborum quam, sequi tempore vel vero!</span><span>A accusantium cum earum eum ipsam iure labore laborum libero mollitia natus, officiis pariatur possimus quibusdam rem reprehenderit, repudiandae sequi totam ut voluptas voluptatibus. Cumque dicta fugiat non possimus quod.</span></p>

<div class="home">
   <img src="{% static 'assets/images/hotel-california.jpg' %}" alt="" >
    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi at aut blanditiis cupiditate dolorem dolores ducimus exercitationem labore laborum, maiores molestiae neque numquam obcaecati rem saepe temporibus, veniam voluptates voluptatum.</span><span>Animi asperiores atque consequuntur dolor eius esse ex exercitationem explicabo fuga fugiat iste, laboriosam laborum laudantium minima minus necessitatibus nisi optio pariatur quos rerum sint suscipit ut vero, voluptas voluptatem?</span></p>

</div>





</body>
</html>